doctype
html(lang='fr', ng-app='app')
  include head
  body
    header
      include nav
    main
      div(ui-view)
    script(src="js/jquery.min.js")
    script(src='js/bootstrap.min.js')
    script(src="js/app.js")
