.container
  #jumbo.jumbotron.fade
    h1 Bienvenue sur le site officiel des PATenteux
    p Le site de l'équipe de l'École Secondaire de la Pointe-aux-Trembles pour la compétition de robotique FRC de Robotique First
    p: a#who.btn.btn-primary.btn-lg(role='button', href='#') Qui sommes-nous?
  
  #alert.alert.alert-danger.fade
    button.close(type='button', data-dismiss='alert'): span(aria-hidden='true') &times;
    | Le site est encore en période de développement. Merci de revenir plus tard.
